<!-- Assignment
=========
1.⁠ ⁠create 1 EmployeeCRUD component
2.⁠ ⁠display list of employees in a table(data comes from an array)
3.⁠ ⁠user should be able to delete Employee (ask user confirmation)
4.⁠ ⁠view the details of selected employee in a modal (bootstrap Modal)
5.⁠ ⁠add a new employee to the table (insert a new record to the array)
   use SnackBar to display message ('EmployAdded Successfully' - message should be maintained in a constant file)
6.⁠ ⁠use font-awesome to display any icons (star , delete, edit) -->

<h3>Employee Crud Component</h3>
<div
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
  (click)="openAddModal()"
>
  Add Employee
</div>
<div class="container">

  <app-employee-table [employee]="employees"  (viewEmployee)="viewDetails($event)"  (deleteEmployee)="deleteEmployeeById($event)"></app-employee-table>

<app-employee-add (addEmployee)="saveEmployee()" [newEmployee]="newEmployee" [isAdding]="isAdding" [filteredEmployee]="filteredEmployee"
></app-employee-add>


  <!-- <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      @for (emp of employees; track $index) {
        <tr>
          <td>{{ $index+1 }}</td>
          <td>{{ emp.name }}</td>
          <td>{{ emp.email }}</td>
          <td>{{ emp.role }}</td>
          <td>{{ emp.department }}</td>
          <td>{{ emp.salary }}</td>

          <td>
            <button
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              (click)="viewDetails(emp, $index)"
            >
              View
            </button>
          </td>
          <td>
            <button class="btn btn-danger" (click)="deleteEmployeeById($index)">Delete</button>
          </td>
        </tr>
      }
    </tbody>
  </table> -->
</div>
<!-- <app-modal >

  @for (emp of filteredEmployee; track $index) {

      <p><b>Name:</b> {{ emp.name }}</p>
  <p><b>Email:</b> {{ emp.email }}</p>

    <p><b>Email:</b> {{ emp.role }}</p>
    <p><b>Email:</b> {{ emp.department }}</p>
    <p><b>Email:</b> {{emp.salary }}</p>
  }


</app-modal> -->



