<app-modal>
  @if (isAdding) {
    <h5>Add New Employee</h5>

    <form (ngSubmit)="addEmp()">



    <div class="mb-2">
      <label>Name:</label>
      <input type="text" [(ngModel)]="newEmployee.firstName"  name="firstName" class="form-control" />
    </div>
    <div class="mb-2">
      <label>LastName:</label>
      <input type="text" [(ngModel)]="newEmployee.lastName"  name="lastName" class="form-control" />
    </div>
    <div class="mb-2">
      <label>Role:</label>
      <input type="text" [(ngModel)]="newEmployee.position"  name = "position"class="form-control" />
    </div>
    <div class="mb-2">
      <label>Department:</label>
      <input type="text" [(ngModel)]="newEmployee.department" name="department" class="form-control" />
    </div>
    <div class="mb-2">
      <label>Salary:</label>
      <input type="number" [(ngModel)]="newEmployee.salary"  name="salary" class="form-control" />
    </div>


    <div class="modal-footer">
        <button type="button" class="btn btn-secondary"    data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="addEmp()" data-bs-dismiss="modal"> Save changes</button>
      </div>
       </form>
  } @else {

      <p><b>Name:</b> {{ filteredEmployee[0].firstName }}</p>
      <!-- <p><b>Email:</b> {{ filteredEmployee[0].email }}</p> -->
      <p><b>Position:</b> {{ filteredEmployee[0].position }}</p>
      <p><b>Department:</b> {{ filteredEmployee[0].department }}</p>
      <p><b>Salary:</b> {{ filteredEmployee[0].salary }}</p>
    }
</app-modal>
