/* You can add global styles to this file, and also import other style files */

.light-theme {
  background-color: white;
  color: #2b2525;
}

.dark-theme {
  background-color: #2b2525;
  color: white;
}
